*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    background: none;
}

nav.menu-lateral {
    width: 90px;
    height: 100%;
    background-color: darkblue;
    padding: 40px 0 40px 1%;
    box-shadow: 3px 0 0 #0be91d;

    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .2s;
}

nav.menu-lateral:hover {
    width: 300px;
}

.btn-expandir {
    width: 100%;
    padding-left: 10px;
}

.btn-expandir > i{
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}

ul {
    height: 100%;
    list-style-type: none;
}

ul li.item-menu {
    transition: 1s;
}

ul li.item-menu:hover {
    background: #0be91d;
}

ul li.item-menu a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display: flex;
    margin-bottom: 20px;
    line-height: 40px;
}

ul li.item-menu a .txt-link {
    margin-left: 40px;
}

ul li.item-menu a .icon > i {
    font-size: 30px;
    margin-left: 10px;
}